<div class="Stock_principale">
  <div class="block" *ngFor="let item of stockBySymbole"
       [ngClass]="{'gray-style': grayOut, 'stock-off' : offStock }">
    <h3>{{item.name}}</h3>
    <p>{{item.currentPrice}}</p>
    <p>{{item.dailyHighPrice}}</p>
    <p>{{item.dailylowPrice}}</p>
    <p *ngIf="isDesktop">{{item.weeklyHighprice}}</p>
    <p *ngIf="isDesktop">{{item.weeklylowprice}}</p>
    <label class="switch">
      <input type="checkbox" (change)="onToggle($event, item)"  id="ToggleswitchId">
      <span class="slider round"></span>
    </label>
  </div>
</div>
